@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin reset-filters() {
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
}

section.post-excerpt, section.post-content, section.post-meta {
  .post-preview {
    img {
      width: 100%;
      height: 100%;
      //padding: 5px;
      //border: 1px solid darken($secondary, 30%);
      @include border-radius(3px);
    }
  }
}

// for transparent images
.post-content img {
  background: rgba(255,255,255,0.5);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%, rgba(246,246,246,0.27) 47%, rgba(237,237,237,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0.5)), color-stop(47%, rgba(246,246,246,0.27)), color-stop(100%, rgba(237,237,237,0)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%, rgba(246,246,246,0.27) 47%, rgba(237,237,237,0) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%, rgba(246,246,246,0.27) 47%, rgba(237,237,237,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.5) 0%, rgba(246,246,246,0.27) 47%, rgba(237,237,237,0) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,0.5) 0%, rgba(246,246,246,0.27) 47%, rgba(237,237,237,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}

::-moz-selection {
    background: #B8C9F3;
}

::selection {
    background: #B8C9F3;
}

// for the photography pages
/*body.tag-photography.post-template {
  article.post {
    //width: 95%;
    max-width: 100%;
    margin-top: 1.5em;
  }

  .photo-container {
    //background: #f00 no-repeat center center;
    img {
      width: 100%;
      @include border-radius(3px);
      //padding: 5px;
      //border: 1px solid darken($secondary, 30%);
    }
  }
}*/

// for the fa icons
.post-meta {
  .fa {
    display: inline;
    padding-right: 6px;
  }
  .post-author {
    padding-right: 12px;
  }
  .post-date {
    margin-left: 0;
    padding-left: 0;
    padding-right: 12px;
    border-left: none;
    text-transform: none;
    font-size: inherit;
  }
}

@media only screen and (max-width: 500px) {
  .home-template {
    .post-meta {
      .fa {
        // to fix 
        display: inline;
      }
      .fa-calendar {
        display: none;
      }
    }
  }
}

// playing with the typed.js stuff
.page-title {
  font-size: 4rem;
  display: inline;
}
.typed-cursor {
  font-size: 4rem;
  -webkit-animation: blink .7s infinite;
  animation: blink .7s infinite;
  font-weight: 700;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}