<div class="nav">
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    <!--ul>
        <li class="active"><a href="/"><span>Home</span></a></li>
        <li><a href="/tag/photography"><span>Photography</span></a></li>    
        <li><a href="/about"><span>About</span></a></li>
        <li><a href="/contact"><span>Contact</span></a></li>
    </ul-->
</div>